*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
}
.header-1 {
    background-color: blue;
    height: 30px;
}
.header-2 {
    background-color: red;
    height: 80px;
}
.sidebar {
    display: flex;
    height: 400px;
}
.sidebar-left {
    flex-grow: 7;
    background-color: orange;
}
.sidebar-right {
    flex-grow: 3;
    background-color: yellowgreen;
}
.footer{
    background-color: aquamarine;
    height: 80px;
}